h2 {
    color: teal;
    background-color: rgb(89, 151, 0);
}


h2{
    color: teal;
    background-color: papayawhip;
}

button{
    color: magenta;
    background-color: cyan;
}

p {
    color: olive;
    background: orange;
}

9 9 9

 F -> 15 

 body {
    background-color: #000000;
 }


 body {
    background-color: #000;
 }

 
body {
    background-color: #cc55ee;
 }

 body {
    background-color: #c5e;
 }

 